# HyprBar Configuration File

window:
  anchor: top # top, left, right or bottom
  margin_top: 0
  margin_bottom: 0
  width: 2560 # The width of the window in pixels
  height: 28 # The height of the window in pixels

  left_container:
    hor_spacing: 6
    components:
      - type: workspaces
        text: "1,2,3,4,5"
        css_id: "workspaces"

  center_container:
    hor_spacing: 6
    components:
      - type: clock
        markup: '<span foreground="green">ï€— </span><span foreground="yellow">11:16:32</span>'
        format: "%Y-%m-%d %H:%M:%S" # strftime
        css_id: "clock"
        refresh: 1

  right_container:
    hor_spacing: 6
    components:
      - type: label
        text: "label 1"
        css_id: "label1"
      - type: label
        text: "label2"
        css_id: "label2"
