
* {
    font-family: "Hack Nerd Font Propo", sans-serif;
    font-size: 18px;
}


#hyprbar {
    background: rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin: 0px;
}

#workspace-0 {
    color: #BBFBFF;
    margin-left: 10px;
}

#workspace-0.active {
    color: #7CFC00;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #7CFC00;
}

#workspace-1 {
    color: #BBFBFF;
    margin-left: 10px;
}


#workspace-1.active {
    color: #7CFC00;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #7CFC00;
}

#workspace-2 {
    color: #BBFBFF;
    margin-left: 10px;
}

#workspace-2.active {
    color: #7CFC00;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #7CFC00;
}

#workspace-3 {
    color: #BBFBFF;
    margin-left: 10px;
}

#workspace-3.active {
    color: #7CFC00;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #7CFC00;
}


#workspace-4 {
    color: #BBFBFF;
    margin-left: 10px;
}

#workspace-4.active {
    color: #7CFC00;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #7CFC00;

}

