* {
  font-family: "Hack Nerd Font Propo", sans-serif;
  font-size: 18px;
}

#hyprbar {
  background: rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin: 0px;
}

#workspace-1,
#workspace-2,
#workspace-3,
#workspace-4,
#workspace-5 {
  color: #BBFBFF;
  min-width: 35px;
}

#workspace-1.active,
#workspace-2.active,
#workspace-3.active,
#workspace-4.active,
#workspace-5.active {
  color: #7CFC00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7CFC00;
}

#workspace-1:hover,
#workspace-2:hover,
#workspace-3:hover,
#workspace-4:hover,
#workspace-5:hover {
  color: #DDA853;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7F8CAA;
}


#kernel-icon {
  color: hotpink;
}

#kernel-label {
  color: lemonchiffon;
}

#clock-icon {
  color: #7CFC00;
}

#clock-label {
  color: #FFE1E0;
}
